<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 'Flashcards', <%= user.name %>!</h1>
    <p>
      You have @card.count new cards for review, check it now.<br>
    </p>
  </body>
</html>
