<%- if  controller_name != 'users' %>
  <li><%= link_to t(:sign_up), sign_up_path %></li>
<% end -%>
<%- if controller_name != 'sessions' %>
  <li><%= link_to t(:sign_in), log_in_path %></li>
<% end -%>
