<div class='col-md-12 col-sm-offset-2'>
  <h2>Add a Card</h2>
</div>

<div>
  <%= simple_form_for @card, url: cards_path do |f| %>
    <%= f.input :original_text, label: 'Original text' %>
    <%= f.input :translated_text, label: 'Translated text' %>
    <%= f.button :submit, 'Create Card' %>
  <% end %>
</div>
