<div class='col-md-12 col-sm-offset-2'>
  <h2>All Cards</h2>

    <p>
      <strong>Title:</strong>
      <%= @card.original_text %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @card.translated_text %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @card.review_date.strftime('%d/%m/%Y') %>
    </p>

  <%= link_to 'Back Home', root_path, :class => 'btn btn-primary btn-sm' %>
</div>
