<div class='col-md-4 col-md-offset-4 text-center'>
  <h2>Add a Deck</h2>

  <%= simple_form_for @deck, url: decks_path do |f| %>
    <%= f.input :name, label: 'Deck name' %>

    <%= f.button :submit, 'Create a Deck', class: 'btn btn-success btn-block' %>
  <% end %>

</div>
