<div class='col-md-4 col-md-offset-4 text-center'>
  <h2><%= t('decks.add_a_deck') %></h2>

  <%= simple_form_for @deck, url: decks_path do |f| %>
    <%= f.input :name, label: t('decks.deck_name') %>

    <%= f.button :submit, t('decks.create_deck'), class: 'btn btn-success btn-block' %>
  <% end %>

</div>
