<h2><%= t('decks.your_deck') %></h2>

  <p>
    <strong><%= t('decks.deck_name') %>:</strong>
    <%= @deck.name %>
  </p>

<%= link_to t(:back_home), root_path, :class => 'btn btn-primary btn-sm' %>
